@import url("https://fonts.googleapis.com/css?family=Catamaran:400,700|Grand+Hotel");

/*
=============
Variables
=============
*/
:root {
  --clr-primary: #6f4e37;
  --clr-primary-light: #8b6245;
  --clr-grey-1: #222121;
  --clr-grey-5: #d8d3d0;
  --clr-grey-10: #ebe9e7;
  --clr-white: #fff;
  --ff-primary: "Catamaran", sans-serif;
  --ff-secondary: "Grand Hotel", cursive;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.25rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  line-height: 1.25;
  text-transform: capitalize;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 00.875rem;
}

p {
  margin-bottom: 1.25rem;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 00.875rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1.25;
  }
}

/*more global css*/

/*
=============
Header
=============
*/
.header {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/main=bcg.jpg) center/cover no-repeat fixed;
  position: relative;
  overflow-x: hidden;
}

.banner {
  /* banner er mddhe text.Ogula center e rakhlam. */
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner h2 {
  font-family: var(--ff-secondary);
  color: var(--clr-primary-light);
  /*animation*/
}

.banner h1 {
  text-transform: uppercase;
  color: var(--clr-white);
  margin-top: 1.25rem;
  margin-bottom: 2rem;
  /*animation*/
}

/* button design */
.btn {
  text-transform: uppercase;
  background: var(--clr-primary);
  color: var(--clr-white);
  padding: 0.375rem 0.75rem;
  display: inline-block;
  border: none;
  transition: var(--transition);
  letter-spacing: var(--spacing);
  font-weight: 700;
  cursor: pointer;
  font-size: 0.875rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  color: var(--clr-primary);
  background: var(--clr-grey-1);
}

.clearfix:before,
.clearfix:after {
  content: "";
  clear: both;
  display: table;
}

.section-title h3 {
  font-family: var(--ff-secondary);
  color: var(--clr-primary-light);
}

.section-title {
  margin-bottom: 2rem;
}

.section-center {
  /* Etar maddhome amra full container ti center e rakhbo */
  padding: 4rem 0;
  width: 85vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
    padding: 4rem 1rem;
  }
}

.banner-btn {
  outline: 0.125rem solid var(--clr-primary);
  outline-offset: 00.25rem;
  font-size: 1.25rem;
  padding: 1rem 1.75rem;
}

.content-divider {
  height: 0.5rem;
  background: linear-gradient(
    to left,
    var(--clr-primary-light),
    #524529,
    var(--clr-primary)
  );
}

/*
===================================================
Skills
===================================================
*/

.skills {
  background: var(--clr-grey-10);
}

.skill {
  padding: 2.5rem 0;
  text-align: center;
  transition: var(--transition);
}

.skill-icon {
  display: inline-block;
  margin-bottom: 1.25rem;
  font-size: 2.5rem;
  transition: var(--transition);
  color: var(--clr-primary);
}

.skill-text {
  color: var(--clr-primary);
  max-width: 17rem;
  margin: 0 auto;
}

.skill:hover {
  background: var(--clr-white);
  box-shadow: 0 2px var(--clr-primary);
}

.skill:hover .skill-icon {
  transform: translateY(-5px);
}

@media screen and (min-width: 576px) {
  .skill {
    float: left;
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .skill {
    width: 25%;
  }
}

/*
============================================================
About
============================================================
*/

.about-img,
.about-info {
  padding: 2rem 0;
}

.about-picture-container {
  background: var(--clr-primary-light);
  border: 0.5rem solid var(--clr-primary);
  max-width: 30rem;
  overflow: hidden;
}

.about-picture {
  transition: var(--transition);
}

.about-picture-container:hover .about-picture {
  opacity: 0.5;
  transform: scale(1.2);
}

.about-text {
  max-width: 25rem;
  color: var(--clr-primary);
}

@media screen and (min-width: 992px) {
  .about-img,
  .about-info {
    float: left;
    width: 50%;
  }
}

/*
============================================================
Products
============================================================
*/

.products {
  background: var(--clr-grey-5);
}

.products article {
  padding: 2rem 0;
}

.product-text {
  color: var(--clr-primary);
  max-width: 26rem;
}

.product {
  margin-bottom: 2rem;
}

.product-img {
  margin-bottom: 2rem;
  height: 17rem;
  border-radius: var(--radius);
  object-fit: cover;
}

.product-price {
  color: var(--clr-primary);
}

@media screen and (min-width: 768px) {
  .product {
    float: left;
    width: 50%;
    padding-right: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .product {
    width: 33.33%;
  }
}

@media screen and (min-width: 1200px) {
  .products-info {
    float: left;
    width: 30%;
  }
  .products-inventory {
    float: left;
    width: 70%;
  }
  .product {
    padding: 0 1rem;
  }
}
